/*========== FONT ==========*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*========== CONFIG ==========*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html{
    scroll-behavior: smooth;
}


ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

input,
button {
    border: none;
    outline: none;
}

span{
    color: #6495ED;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}

.grid {
    display: grid;
    gap: 1.5rem;
}

.section_title{
    font-size: 3rem;
    margin-bottom: 2rem;
    text-align: center;
    padding-top: 5rem;  
    position: relative;
    line-height: 2;
    background: linear-gradient(to right, transparent 10%, #6495ED 10%, #6495ED 90%, transparent 90%);
    background-position: bottom;
    background-size: 5% 6px; 
    background-repeat: no-repeat;
}

.section_title_white{
    font-size: 3rem;
    margin-bottom: 2rem;
    text-align: center;
    padding-top: 5rem;  
    position: relative;
    line-height: 2;
    background: linear-gradient(to right, transparent 10%, #6495ED 10%, #6495ED 90%, transparent 90%);
    background-position: bottom;
    background-size: 5% 6px; 
    background-repeat: no-repeat;
    color: white;
}

.main {
    overflow: hidden;
}

/*========== HEADER E NAV ==========*/

.header {
    background-color: #6495ED;
    backdrop-filter: blur(10px); 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 2px 16px hsla(220, 32%, 8%, .3);
    z-index: 100;
    transition: 0.3s ease-in-out;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    width: 100%;

}

.nav_logo {
    color: white;
    font-weight: 600;
    display: flex;
    width: 9vw;
}

.nav_toggle,
.nav_close {
    font-size: 1.25rem;
    color: white;
    cursor: pointer;

}

.nav_title_color {
    color: #f3be10;
}

/* Navegação para dispositivos móveis */
@media screen and (max-width: 1024px) {
    .nav_menu{
        position: fixed;
        top: 0;
        right: -100%;
        width: 80%;
        height: 100%;
        background-color: #6495ED;
        padding: 7rem 3rem 60rem;
        transition: right .4s;
        box-sizing: border-box;
    }

    .nav_list {
        display: flex;
        flex-direction: column;
        row-gap: 2.5rem;
        align-items: flex-start;
    }

    .nav_link{
        color: white;
        font-weight: 600;
        transition: .2s ease-in-out;
    }

    .nav_link:hover{
        color: #f3be10;
    }
    

    .show-menu {
        right: 0;
    }

    .nav_close {
        display: block; 
        position: absolute;
        top: 1.15rem;
        right: 1.5rem;
    }

    .nav_toggle {
        display: block;
        
    }
}

/* Navegação para dispositivos maiores */
@media screen and (min-width: 1024px) {
    .nav_menu {
        position: static;
        background-color: transparent;
        box-shadow: none;
        width: auto;
        padding: 0;
    }

    .nav_list {
        display: flex;
        flex-direction: row;
        column-gap: 1.5rem;
        text-align: left;
    }

    .nav_link {
        color: white;
        transition: .2s ease-in-out;
    }

    .nav_link:hover{
        color: #f3be10;
    }
    

    .nav_toggle,
    .nav_close {
        display: none;
    }
}

/*========== HOME ==========*/

.home {
    position: relative;
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat; 
    background-attachment: fixed;
    top: 10%;
    height: 100vh;
    width: 100%;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    text-align: center; 
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit; /* Preserva a imagem de fundo */
    filter: brightness(40%);
    z-index: 0; 
}

.home_data {
    position: relative;
    z-index: 1; 
}

.home_data h2 {
    color: white;
    font-size: 3rem;
    margin-bottom: 1rem;
}

.home_data h1 {
    color: white;
    margin-bottom: 3rem;
    font-size: 1.5rem;
    font-weight: 800;
    
}

.home_data p{
    font-size: 1.2rem;
    color: white;
    font-weight: 200;
    margin-bottom: 5rem;
}

.home_data a{
    display: inline-block;
    padding: 0.9rem 1.5rem;
    background-color: #6495ED; 
    color: white; 
    border-radius: 0.3rem; 
    font-size: 1rem; 
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.home_data a:hover {
    background-color: #0056b3;
}

/*========== EQUIPE ==========*/

.equipe_data {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5rem;
    margin-bottom: 10rem;
}

.equipe_texto p{
    text-align: center;
    font-size: 1.5rem;
}

.equipe_img img {
    width: 30vw;
}

/*========== INTRODUÇÃO ==========*/

.introdução {
    position: relative;
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat; 
}

.introducao_data{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    margin-bottom: 10rem;
}

.introducao_info h1{
    font-size: 4.5rem;
    font-weight: 800;
    margin-bottom: 1rem;
}

.introducao_info P{
    font-weight: 500;
    font-size: 1.2rem;
}

.introducao_info p{
    margin-bottom: 3rem;
}

.btn {
    display: inline-block;
    color: white;
    padding: 1rem 2.8rem;
    background-color:#6495ED;
    border-radius: 0.3rem;
    font-weight: 600;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.btn_2 {
    display: inline-block;
    color: black;
    padding: 1rem 2.8rem;
    border-radius: 0.3rem;
    font-weight: 600;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    border: 1px solid #6495ED;
}


.btn:hover{
    background-color: #0056b3;
    color: white;
}


.btn_2:hover{
    background-color: #0056b3;
    color: white;
    border: 1px solid #0056b3;
}

.introducao_img img {
    mask-image: 
        linear-gradient(to bottom, transparent, transparent 10%, hsla(230, 40%, 16%, 1) 30%),
        linear-gradient(to top, transparent, transparent 10%, hsla(230, 40%, 16%, 1) 30%);
    mask-size: 100% 50%, 100% 50%; /* Ajusta o tamanho das áreas de degradê */
    mask-position: top, bottom;
    mask-repeat: no-repeat;
    width: 150vw;
}
/*========== EMPRESAS ==========*/

.img_background {
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    top: 10%;
    height: 100vh;
    width: 100%;
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.overlay2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit; 
    filter: brightness(20%);
    z-index: 0; 
}

.empresas_data {
    position: relative; 
    z-index: 1;
    display: grid; 
    grid-template-columns: repeat(3, 345px);
    row-gap: 2rem;
    margin-bottom: 5rem;
    margin-top: 10rem;
    justify-content: center;
    gap: 2rem; 
}

.empresas_quadro {
    background-color: white;
    padding: 3.5rem 1.5rem;
    box-shadow: 0 8px 16px hsla(230, 75%, 32%, .15);
    text-align: center; 
    overflow: hidden;  
    box-sizing: border-box; 
    max-width: 100%; 
    border-radius: 2%;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
}

.empresas_img1 {
    width: 50%;
    margin-bottom: 1rem;
}


.empresas_img2 {
    width: 55%;
    margin-bottom: 1rem;
}

.empresas_img3 {
    width: 90%;
    margin-bottom: 3.2rem;
}


.empresa_titulo {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.empresa_descricao {
    font-size: 1rem; 
    max-width: 100%; 
    overflow-wrap: break-word; 
}

.empresas_btn {
    margin-top: 1rem;
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #6495ED; 
    color: white; 
    border-radius: 0.25rem; 
    font-size: 1rem; 
    transition: 0.3s ease-in-out;
}

.empresas_btn:hover {
    background-color: #0056b3;
}


/*========== RESULTADOS ESPERADOS ==========*/

.resultados {
    position: relative;
}

.resultados_data {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    gap: 5rem;
    margin-bottom: 20rem;
    margin-top: 10rem;
}

.resultados_texto {
    padding-left: 30rem;
}

.resultados_texto h1{
    font-size: 2rem;
    margin-bottom: 2rem;
}

.resultados_texto p{
    color: black;
    font-size: 1.2rem;
    font-weight: 390;
}

.resultados_img {
    position: absolute;
    top: 50%;
    left: -4%;
}

.resultados_img img{
    border-radius: 2%;
}


/*========== TECNOLOGIAS ==========*/

.tecnologias {
    background-color: rgb(248, 248, 248);
    padding-bottom: 10rem;
}

.tecnologias_data{
    grid-template-columns: repeat(3,345px);
    row-gap: 2rem;
    margin-bottom: 5rem;
    margin-top: 10rem;
    flex-wrap: wrap;
}

.tecnologias_quadro {
    padding: 3.5rem 1.5rem;
    box-shadow: 0 8px 16px hsla(230, 75%, 32%, .15);
    text-align: center;  
    transition: 0.3s ease-in-out;
    background-color: white;
    
}

.tecnologias_icon{
    display: inline-block;
    font-size: 3rem;
    color: #6495ED;
    margin-bottom: 1.5rem;
}

.tecnologias_titulo {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.tecnologias_descricao {
    margin-bottom: 1rem;
}


.tecnologias_quadro a {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #6495ED; 
    color: white; 
    border-radius: 0.25rem; 
    font-size: 1rem; 
    transition: 0.3s ease-in-out;
}

.tecnologias_quadro a:hover {
    background-color: #0056b3;
}

.tecnologias_quadro:hover {
    transform: scale(1.1);
}

/*========== CONTATO ==========*/

.contato_data {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10rem;
    margin-bottom: 10rem;
}

.contato_form {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 1rem; 
}

.contato_grupo {
    display: flex;
    gap: 0.5rem; 
}

.contato_input {
    width: 100%;
    padding: 1rem;
    border: 1px solid rgb(0, 0, 0); 
    border-radius: 4px; 
    font-size: 1rem;
}

.contato_grupo2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contato_area {
    width: 100%; 
    padding: 0.5rem;
    border: 1px solid rgb(0, 0, 0); 
    border-radius: 4px; 
    height: 10rem;
    resize: none;
    font-size: 1rem;
}

.contato_button {
    width: 100%;
    margin-top: 1rem;
    padding: 1rem;
    border: none;
    background-color: #6495ED; 
    color: white; 
    border-radius: 4px; 
    cursor: pointer; 
    transition: 0.2s ease-in-out;
    font-size: 1rem;
}

.contato_button:hover {
    background-color: #0056b3;
}

.contato_input::placeholder,
.contato_area::placeholder {
    color: #6495ED;
}
/*========== FOOTER ==========*/

footer {
    background-color: #6495ED;
    padding: 50px;
}

.footer_data{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20rem;
}

.footer_texto {
    color: white;
}

.footer_icons{
    color: white;
    cursor: pointer;
    display: flex;
    gap: 1rem;
    font-size: 1.5rem;
}

#link-topo{
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: rgb(88, 180, 255);
    padding: 15px;
    position: fixed;
    right: 15px;
    bottom: 15px;
    box-shadow: 3px 3px 5px #333;
    border-radius: 10px;
}